Package: com.test.cydiasubstrate
Name: CydiaSubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: AYL
Author: AYL
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
